/* common classes */
.padding {
  padding: 32px;
}
.margin-bottom {
  margin-bottom: 2rem;
}
.header {
  display: flex;
  justify-content: space-between;
  background: #F4F4F4
}
.logo-container {
  .logo {
    width: 110px;
  }
}

.nav-items {
  margin: auto 0;
}
.nav-items > ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-items > ul > li {
  margin-right: 20px;
  padding: 0 16px
}

.header-cart-container {
  display: flex;
  align-items: center;
  gap: 4px;
  padding-left: 0;
}
.search-box-and-results {
  position: relative;
}
.search-container {
  display: flex;
  margin: 0 16px;
}
.search-container > input {
  width: -webkit-fill-available;
  border-radius: 6px;
  border-width: 1px;
  padding: 12px;
}
.search-result-container {
  position: absolute;
  z-index: 2;
  background: rgb(243, 242, 242);
  width: 100%;
  padding: 16px;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.restaurant-card-container {
  /* width: auto; */
  margin: 8px;
  width: 19.5rem;
  height: auto;
} 
.restaurant-card-container:hover {
  transform: scale(0.95, 0.95);
  transition: 0.1s ease-in;
  cursor: pointer;
}
.image-container {
  overflow: hidden;
  border-radius: 6px;
  height: 13rem;
  position: relative;
}

.image-container > img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}
.discount-overlay {
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 84.21%);
  padding: 8px 0 8px 8px;
  font-weight: bold;
}
.search-button {
  padding: 12px 32px;
  margin-left: 8px;
  background: #B8341B;
  color: white;
  border: none;
  border-radius: 4px;
}
.rating-and-sla-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}
.rating {
  display: flex;
  align-items: center;
}
.sla {
  font-weight: bold;
  margin-right: 8px;
}

.restro-cuisines {
  margin-bottom: 6px;
}
